#background {
    min-height: 100%;
    background-image : url(images/metro2.jpg);
    background-size: cover;
    background-position: center;

}

#img1 {
    margin: 0px 570px 0px 0px;
}




body {  
        height: 75vh;  
        margin-top: 80px;  
        padding: 30px;  
        background-size: cover;  
        font-family: sans-serif;  
    }  
header {  
        background-color: #fff;  
        position: fixed;  
        left: 0;  
        right: 0;  
        top: 5px;  
        height: 80px;  
        display: flex;  
        align-items: center;  
        box-shadow: 0 0 5px 0 black;  
    }  
header * {  
    display: inline;  
}  
header li {  
    margin: 25px;  
}  
header li a {  
    color: blue;  
    text-decoration: none;  
    font-size: 23px;
    font-style: 20px;
    margin: 0px 0px 0px;
}  

.white-box {
    background-color: white;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-style:solid;
    border-radius:12px;
    border-color: #8c8c8c;
    border-width: 3px;
    ;


}
#mapa {
    width : 1000px;
    height:750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

#testea {
    width: 70px;
    height: 25px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: url(images/downarrow_blue.png) no-repeat right white;
    border: 3px double rgb(25, 0, 255);
    border-radius:6px;
    display: inline-block;
    position: relative;
    font-size: 15px;
  }
/*   
 #testea select {
    background: transparent;
    width: 100px;
    font-size: 22px;
    border: 0;
    height: px;
    position: absolute;
    left: 0;
    top: 0;
  } */

  #align {
    text-align: center;
  }

  #botao {
    position: relative;
  }